.swiper__card-cont {
  /* background-color: red;
    display: flex;
    flex-direction: column; */
  /* height: 100% !important; */
  /* min-height: 100% !important; */
  flex-grow: 1;
  height: 520px;
}
.swiper__card-cont > div {
  height: 100%;
}

.shop__swiper {
  position: relative;
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(255, 255, 255);
  background-color: rgba(128, 128, 128, 0.671);
  padding: 30px 30px;
  border-radius: 50%;
}

@media only screen and (min-width: 600px) {
  .shop__swiper {
    position: static;
    display: grid;
  }

  .swiper-button-next,
  .swiper-button-prev {
    inset: initial;
    margin: 0;
    align-self: center;
  }

  .shop__swiper .swiper-button-prev {
    justify-self: start;
    margin-left: -65px;
  }
  .shop__swiper .swiper-button-next {
    justify-self: end;
    margin-right: -65px;
  }
}
