.pet-profile {
  height: 88vh;
}
.pet-profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}
.pet-profile input[type="file"] {
  display: none;
}
.pet-profile form {
  padding: 10px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.pet-profile__img-box label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed #aaa;
  cursor: pointer;
}
.pet-profile__img-box label:hover {
  background: #f9f9f9;
}
.pet-profile input,
.pet-profile textarea {
  padding: 15px;
  border-radius: 5px;
  width: 100%;
}
.pet-profile__img-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}
