.pet-profile {
  min-height: 499px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.pet-profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.pet-profile .pet-profile__img-box img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}
.pet-profile input[type="file"] {
  display: none;
}
.pet-profile form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.pet-profile form .form-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.pet-profile__img-box label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed #aaa;
  cursor: pointer;
}
.pet-profile__img-box label:hover {
  background: #f9f9f9;
}
.pet-profile input,
.pet-profile textarea,
.pet-profile select {
  width: 100%;
  height: 50px;
  max-height: 50px;
  outline: none;
  border: 1px solid #dcdbdb;
  padding: 0px 10px;
}
.pet-profile input:focus,
.pet-profile textarea:focus,
.pet-profile select :focus {
  box-shadow: 0px 0px 2px 0px black;
}
.pet-profile__img-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}
.pet-profile button {
  background-color: #07b877;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 24px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.pet-profile .pet-cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.pet-profile .pet-cards .pet-cards__box {
  width: 30%;
  background: url("../../assets/card2.png");
  padding: 10px 25px;
  box-shadow: 0px 0px 2px 0px #707070;
  border-radius: 15px;
  margin: 20px auto;
  height: 500px;
  overflow: hidden;
}
.pet-profile .pet-cards .pet-cards__box h2 {
  padding: 3px 0px 15px 3px;
}
.pet-profile .pet-cards .pet-cards__box dev {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pet-profile .pet-cards .pet-cards__box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 5px 75px;
}
/* For screens smaller than 768px */
@media only screen and (max-width: 767px) {
  .pet-profile form {
    width: 100%;
  }
  .pet-profile form .form-box {
    grid-template-columns: 1fr;
  }
  .pet-profile .pet-cards .pet-cards__box {
    width: 100%;
  }
}

/* For screens between 768px and 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .pet-profile form {
    width: 100%;
  }
  .pet-profile form .form-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .pet-profile .pet-cards .pet-cards__box {
    width: 45%;
  }
}

/* For screens larger than 1024px */
@media only screen and (min-width: 1024px) {
  .pet-profile form {
    width: 80%;
  }
  .pet-profile form .form-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .pet-profile .pet-cards .pet-cards__box {
    width: 30%;
  }
}
