a {
  text-decoration: none !important;
}

.brand-img{
  width: 100%;
  height: 100%;
}

.brand-box{
  height: 2.5rem;
  margin: 0;
}

.link {
  color: white !important;
}
.link:hover {
  color: red !important;
}
.dropdown .link {
  color: black !important;
}
.dropdown .link:hover {
  color: red !important;
}
#basic-nav-dropdown {
  color: white;
  margin-left: 1rem !important;
}
#basic-nav-dropdown:hover {
  color: red;
}
.ournavbar{margin-inline-start: auto !important;}